body{
    background-color: #ccc;
}

h1,h3,h2{
    margin: 20px;
    text-align: center;
}


.container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    box-shadow: 0 0 10px black;
    margin: auto;
    gap: 10px;
    justify-content: center;
}

.btn{
    width: 200px;
    height: 200px;
    background-color: #000;
    border-radius: 25px;
    transition: all .5s ease;
}

#yellow{
    background-color: yellow;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}


.flash{
    background-color: #ffffff !important;
}